<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="AccessibleJourneyPlanner"
        android:supportsRtl="true"
        android:theme="@style/Theme.AccessibleJourneyPlanner">

        <!-- HomeActivity is the single launcher for Phase 1. -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Placeholder screens for later phases. -->
        <activity
            android:name=".ui.livearrivals.LiveArrivalsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.planjourney.PlanJourneyActivity"
            android:exported="false" />

    </application>


</manifest>